<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/UI/home.css">
    <link rel="stylesheet" href="/static/UI/navbar.css">
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/simulation">Simulation</a>
        <a href="/statistics">Statistics</a>
        <a href="/about_us">About Us</a>
        <a href="/feedback">Feedback</a>
        <a href="/login">Logout</a>
    </div>
    <div class="image1"><br><br>
        <h1>Welcome To Jeremy's Ice Cream Simulation</h1>
        <div class="card-container">
            <div class="simulation-card">
                <p>Be sure to visit our simulation page to run simulations on our Ice Cream Store!</p>
            </div>
            <div class="simulation-card">
                <p>Be sure to view the statistics page to see the data on the simulations!</p>
            </div>
            <div class="simulation-card">
                <p>We even use Artificial Intelligence on our data!</p>
            </div>
        </div>
        <div class="background2"><br><br><br><br><br></div>
        <div class="card-container">
            <div class="simulation-card">
                <p>Be sure to see the About Us Page to learn more about us!</p>
            </div>
            <div class="simulation-card">
                <p>Be sure to visit the Feedback Page to submit any kind of feedback!</p>
            </div>
            <div class="simulation-card">
                <p>Be sure to logout when you finish with your session!</p>
            </div>
        </div>
    </div>
</body>
</html>