body {
    display: block;
    background-color: blanchedalmond;
    margin: 0;
}
a {
    text-align: center;
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 0 2px black;
    text-decoration: none;
}
img {
    display: block;
    margin: auto;
}
h1 {
    text-align: center;
    color: teal;
}