<html>
<head>
    <title>Normal Simulation Types Totals Chart</title>
    <link rel="stylesheet" href="/static/UI/season_charts.css">
</head>
<body>
    <a href="/home">Back to Home Page</a>
    <a href="/simulation">Back to Simulation Page</a>
    <h1>Normal Simulation Types Totals Charts</h1>
    <div class="chart-container">
        <img src="{{ chart1 }}">
        <img src="{{ chart2 }}">
    </div><br>
    <div class="chart-container">
        <img src="{{ chart3 }}">
        <img src="{{ chart4 }}">
    </div><br>
    <div class="chart-container">
        <img src="{{ chart5 }}">
        <img src="{{ chart6 }}">
    </div>
</body>
</html>